# Feature Engineering

## 0. Why ?

Feature engineering is the act of taking raw data and extracting features from it that are suitable for tasks like ML. Most ML algorithms work with tabular data. When we talk about features, we are referring to the information stored in the columns of these tables.     

Most ML algorithms require their input data to be presented as a vector or a matrix, and many assume that the data is distributed normally. In reality, more often than not we will receive data that is not in this format.      

Many datatypes to work with:      
Continuous: either int or floats       
Categorical: one of a limited set of values     
Ordinal: ranked values, often with no detail of distance between them      
Boolean: T/F      
Datetime: dates and times

In [1]:
import pandas as pd

In [22]:
df_so = pd.read_csv("../Machine_Learning_basics/data/Combined_DS_v10.csv",index_col="SurveyDate", parse_dates=True)
df_so = df_so.reset_index()
df_so.head()

,SurveyDate,FormalEducation,ConvertedSalary,Hobby,Country,StackOverflowJobsRecommend,VersionControl,Age,Years Experience,Gender,RawSalary
0,2018-02-28 20:20:00,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,Yes,South Africa,NaN,Git,21,13,Male,NaN
1,2018-06-28 13:26:00,Bachelor's degree (BA. BS. B.Eng.. etc.),70841.0,Yes,Sweeden,7.0,Git;Subversion,38,9,Male,"70,841.00"
2,2018-06-06 03:37:00,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,No,Sweeden,8.0,Git,45,11,NaN,NaN
3,2018-05-09 01:06:00,Some college/university study without earning ...,21426.0,Yes,Sweeden,NaN,Zip file back-ups,46,12,Male,"21,426.00"
4,2018-04-12 22:41:00,Bachelor's degree (BA. BS. B.Eng.. etc.),41671.0,Yes,UK,8.0,Git,39,7,Male,"£41,671.00"

In [23]:
df_so.columns

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby', 'Country',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary'],
      dtype='object')

In [24]:
df_so.dtypes

SurveyDate                    datetime64[ns]
FormalEducation                       object
ConvertedSalary                      float64
Hobby                                 object
Country                               object
StackOverflowJobsRecommend           float64
VersionControl                        object
Age                                    int64
Years Experience                       int64
Gender                                object
RawSalary                             object
dtype: object

In [27]:
# only cols with int
only_ints = df_so.select_dtypes(include=["int"])
print(only_ints)
print(only_ints.columns)

     Age  Years Experience
0     21                13
1     38                 9
2     45                11
3     46                12
4     39                 7
..   ...               ...
994   45                10
995   27                16
996   54                16
997   23                 9
998   18                 7

[999 rows x 2 columns]
Index(['Age', 'Years Experience'], dtype='object')